header{
    background-color: #2C3E50;
    height: 90px;
}

footer{
    background-color: #3B536D;
}

.container-md{
    border: 2px solid orangered;
}

.debug{
    min-height: 50px;
    border: 2PX solid black;
}

.azzurrino{
    background-color: #19BC9C;
}